Repository openshift/bpfman-catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/catalog-4-14:latest
  - name: dockerfile
    value: Dockerfile
  - name: opm-image
  ...

catalog-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/catalog-4-19:latest
  - name: build-args-file
    value: templates/next-release.Dockerfile-args
  - name: dockerfile
    value: Dockerfile
  ...

catalog-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/catalog-4-20:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: Dockerfile
  ...

catalog-ystream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/catalog-ystream:on-pr-{{revision}}
  - name: build-args-file
    value: templates/y-stream.Dockerfile-args
  - name: image-expires-after
  ...

catalog-zstream-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/catalog-zstream:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

catalog-zstream-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-bpfman-tenant/catalog-zstream:latest
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: Dockerfile
  ...

Add bpfman operator icon to catalog templates
  templates/released.yaml
  templates/y-stream.yaml
  templates/z-stream.yaml
Due: none

Pin bpfman-operator v0.5.9 to registry.redhat.io digest in z-stream catalogue
  auto-generated/catalog/z-stream.yaml
  templates/z-stream.yaml
Due: catalog-zstream-on-pull-request, catalog-zstream-on-push

Update z-stream catalog with bpfman-operator v0.5.9
  auto-generated/catalog/z-stream.yaml
  templates/z-stream.yaml
Due: catalog-zstream-on-pull-request, catalog-zstream-on-push

Add release manifest for bpfman-operator v0.5.9
  releases/0.5.9/bpfman.yaml
Due: none

Remove unreleased v0.5.10 entry from z-stream catalog
  auto-generated/catalog/z-stream.yaml
  templates/z-stream.yaml
Due: catalog-zstream-on-pull-request, catalog-zstream-on-push

Remove v0.5.10 channel entry from z-stream catalog
  auto-generated/catalog/z-stream.yaml
  templates/z-stream.yaml
Due: catalog-zstream-on-pull-request, catalog-zstream-on-push

Add bpfman-operator version 0.5.9 to released catalog
  templates/released.Dockerfile-args
  templates/released.yaml
Due: catalog-4-20-on-push

Comprehensive update to RELEASE-PROCESS.md with lessons learned
  RELEASE-PROCESS.md
Due: none

Add catalogue release manifest for bpfman-operator v0.5.9
  releases/0.5.9/fbc-4.20.yaml
Due: none

Add snapshot validation tool for Konflux releases
  validate-snapshot.py
Due: none

Regenerate released catalog after PR 54 template changes
  auto-generated/catalog/released.yaml
Due: catalog-4-20-on-push

Add critical steps for regenerating catalogs after template changes
  RELEASE-PROCESS.md
Due: none

Update catalogue release manifest to use corrected snapshot
  releases/0.5.9/fbc-4.20.yaml
Due: none

Update z-stream catalogue with bpfman-operator v0.5.10
  auto-generated/catalog/z-stream.yaml
  releases/0.5.10/bpfman.yaml
  templates/z-stream.yaml
Due: catalog-zstream-on-pull-request, catalog-zstream-on-push

Update catalogue release manifest to include v0.5.10
  auto-generated/catalog/released.yaml
  templates/released.Dockerfile-args
  templates/released.yaml
Due: catalog-4-20-on-push

Record bpfman-operator v0.5.10 FBC release for OpenShift 4.20
  releases/0.5.10/fbc-4.20.yaml
Due: none

Red Hat Konflux update catalog-4-21
  .tekton/catalog-4-21-pull-request.yaml
  .tekton/catalog-4-21-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Remove deprecated build-image-index params for v0.3 migration
  .tekton/build-fbc-pipeline.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Revert "fix: apply CodeRabbit auto-fixes"
  .tekton/build-fbc-pipeline.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add alebedev87 to OWNERS
  OWNERS
Due: none

test: add test label to Dockerfile
  Dockerfile
Due: catalog-4-20-on-push, catalog-zstream-on-pull-request, catalog-zstream-on-push

Parameterise OPM container version via the Makefile
  Dockerfile.generate-catalog
  Makefile
Due: none

Red Hat Konflux update catalog-4-22
  .tekton/catalog-4-22-pull-request.yaml
  .tekton/catalog-4-22-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add Tekton pipeline files for `catalog-4-22`
  .tekton/catalog-4-22-pull-request.yaml
  .tekton/catalog-4-22-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add `fbc-4.22.yaml` Release CR for bpfman 0.6.0
  releases/0.6.0/fbc-4.22.yaml
Due: none

Red Hat Konflux update catalog-4-18
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-18-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Red Hat Konflux update catalog-4-19
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-19-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add customized `catalog-4-18` pipeline files
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-18-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add customized `catalog-4-19` pipeline files
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-19-push.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Remove 0.5.z releases and update y-stream/z-stream templates
  auto-generated/catalog/released.yaml
  auto-generated/catalog/y-stream.yaml
  auto-generated/catalog/z-stream.yaml
  templates/released.yaml
  templates/y-stream.yaml
  templates/z-stream.yaml
Due: catalog-4-20-on-push, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add deploy-fbc-operator integration test pipeline
  .tekton/its/deploy-fbc-operator-run.yaml
  .tekton/its/deploy-fbc-operator.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Add `0.6.0` release manifests for 4.18, 4.19, 4.20 catalogs
  releases/0.6.0/fbc-4.18.yaml
  releases/0.6.0/fbc-4.19.yaml
  releases/0.6.0/fbc-4.20.yaml
Due: none

Add `run-integration-tests` task to deploy-fbc-operator pipeline
  .tekton/its/deploy-fbc-operator.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Use stage registry for ystream bundle image
  .tekton/its/deploy-fbc-operator.yaml
  auto-generated/catalog/y-stream.yaml
  templates/y-stream.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Move `patch-cluster-pull-secret` to `provision-cluster` task
  .tekton/its/deploy-fbc-operator.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Pin y-stream catalog to bpfman-operator-bundle-ystream test build
  auto-generated/catalog/y-stream.yaml
  templates/y-stream.yaml
Due: none

Replace EaaS with OpenShift CI cluster provisioning
  .tekton/its/deploy-fbc-operator.yaml
Due: catalog-4-14-on-push, catalog-4-19-on-push, catalog-4-20-on-push, catalog-ystream-on-pull-request, catalog-zstream-on-pull-request, catalog-zstream-on-push

Path conditions:
  catalog-4-14-on-push: ((any of: .tekton/***) or (any of: ./bpfman-catalog/Dockerfile)) or (any of: ./bpfman-catalog/auto-generated/legacy-catalog/released.yaml)
  catalog-4-19-on-push: (((any of: .tekton/***) or (any of: ./bpfman-catalog/Dockerfile)) or (any of: ./bpfman-catalog/templates/next-release.Dockerfile-args)) or (any of: ./bpfman-catalog/auto-generated/catalog/released.yaml)
  catalog-4-20-on-push: (((any of: .tekton/***) or (any of: Dockerfile)) or (any of: templates/released.Dockerfile-args)) or (any of: auto-generated/catalog/released.yaml)
  catalog-ystream-on-pull-request: ((any of: .tekton/***) or (any of: ./bpfman-catalog/Dockerfile)) or (any of: ./bpfman-catalog/auto-generated/catalog/y-stream.yaml)
  catalog-zstream-on-pull-request: ((any of: .tekton/***) or (any of: Dockerfile)) or (any of: auto-generated/catalog/z-stream.yaml)
  catalog-zstream-on-push: ((any of: .tekton/***) or (any of: Dockerfile)) or (any of: auto-generated/catalog/z-stream.yaml)
